body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}
h1 {
    font-weight: 700;
    font-size: 48px;
}
.container {
    max-width: 1326px;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1147px;
    margin: 0 auto;
}
.header-logo {
    
}
.header-nav {
    display:flex;
    font-weight: 400;
    font-size: 18px;
    gap:54px;
}

.social-list {
    display:flex;
    gap:30px;
}
.main-screen-box {
    display: flex;
}
.main-screen-item {
    display:flex;
    flex-direction: column;
}
.training {
    font-weight: 400;
    font-size: 40px;
}
.main-screen-img img {
    scale: 50%;
}
